{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block title %} Add Consolidate {% endblock title %}


{% block body %}

{% for message in messages %}
<div class="alert alert-{{message.tags}} mb-3" role="alert" style="border-radius: 50px">
    <strong>{{message}}</strong>
</div>
{% endfor %}

<div class="card-header mb-3">
    <div class="row">
        <div class="col-md-10 col-sm-12">
            <h3>Add Consolidate</h3>
        </div>
    </div>
</div>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-9">

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Year*</label>
                                <select class="form-control" name="year" id="id_year" required>
                                    <option value="">-------</option>
                                    {% for i in years %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Week*</label>
                                <select class="form-control" name="week" id="id_week" required>
                                    <option value="">-------</option>
                                    {% for i in week %}
                                    <option value="{{i.id}}">{{i}}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Sheet Name*</label>
                                <input type="text" name="sheet_name" id="sheet_name" class="form-control"
                                    placeholder="Please specify the sheet name" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Sheet*</label>
                                <input type="file" name="file" id="file" class="dropify" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-body">
                <button type="submit" class="btn btn-outline-primary btn-block">Save</button>
                <a href="{% url 'analytics:managers' %}" class="btn btn-secondary btn-block">Cancel</a>
            </div>
        </div>
    </div>
</form>


<script>
    $('#id_year').on('change', function () {
        console.log('Year changed')

        var url = "{% url 'analytics:weeks-filter-ajax' %}";
        var year = $('#id_year').val()

        data = {
            year: year
        }

        $.ajax({
            url: url,
            data: data,

            success: function (data) {
                console.log(data)
                $('#id_week').html(data)
            }
        })

    })
</script>

{% endblock body %}