{% extends 'base.html' %} {% load static %} {% load custom_tags %} {% load humanize %}

{% block title %} Dashboard {% endblock title %}


{% block body %}

{% for message in messages %}
<div class="alert alert-{{message.tags}} mb-3" role="alert" style="border-radius: 50px">
    <strong>{{message}}</strong>
</div>
{% endfor %}


<div class="row">
    <div class="col-lg-4">
        <div class="card card-eco">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h2 class="title-text mt-2">Total Zones</h2>
                    </div>
                    <!--end col-->
                    <div class="col-4 text-center align-self-center">
                        <h2 class="font-weight-semibold mb-1">{{total_zones}}</h2>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <div class="bg-pattern"></div>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-lg-4">
        <div class="card card-eco">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h2 class="title-text mt-2">Total Stores</h2>
                    </div>
                    <!--end col-->
                    <div class="col-4 text-center align-self-center">
                        <h2 class="font-weight-semibold mb-1">{{total_stores}}</h2>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <div class="bg-pattern"></div>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-lg-4">
        <div class="card card-eco">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h2 class="title-text mt-2">Total Managers</h2>
                    </div>
                    <!--end col-->
                    <div class="col-4 text-center align-self-center">
                        <h2 class="font-weight-semibold mb-1">{{total_managers}}</h2>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <div class="bg-pattern"></div>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
</div>


<div class="row">

    <!-- Proceeds After Debt Repayment -->
    <div class="col-md-12">
        <div class="card card-body">
            <div class="card-title">
                <h4>Proceeds After Debt Repayment of {% now 'Y' %}</h4>
            </div>
            <div class="card-body">
                <div>
                    <canvas id="reportByStore" height="80px"></canvas>
                </div>

                <script>
                    var dataURL = "{% url 'analytics:report-by-store-chart-ajax' %}";
                    $.ajax({
                        method: 'GET',
                        url: dataURL,
                        success: function (data) {
                            var ctx = document.getElementById('reportByStore').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: data.labels,
                                    datasets: [{
                                        label: "Overall Sale",
                                        data: data.totals,
                                        fill: false,
                                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                        borderColor: 'rgba(75, 192, 192, 1)',
                                        borderWidth: 2,
                                    }]
                                },
                                options: {
                                    legend: {
                                        display: false,
                                    },
                                    animation: false,
                                }
                            });
                        }
                    });
                </script>

            </div>
        </div>


    </div>

    <!-- Proceeds After Debt Repayment -->
    <div class="col-md-12">
        <div class="card card-body">
            <div class="card-title">
                <h4>Report of {% now 'Y' %} by Sheet Heads</h4>
            </div>
            <div class="card-body">
                <div>
                    <canvas id="reportByHeads" height="80px"></canvas>
                </div>

                <script>
                    var dataURL = "{% url 'analytics:report-by-heads-chart-ajax' %}";
                    $.ajax({
                        method: 'GET',
                        url: dataURL,
                        success: function (data) {
                            var ctx = document.getElementById('reportByHeads').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: data.labels,
                                    datasets: [{
                                        label: "Overall Sale",
                                        data: data.totals,
                                        fill: false,
                                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                        borderColor: 'rgba(75, 192, 192, 1)',
                                        borderWidth: 2,
                                    }]
                                },
                                options: {
                                    legend: {
                                        display: false,
                                    },
                                    animation: false,
                                }
                            });
                        }
                    });
                </script>

            </div>
        </div>


    </div>


    <!-- Proceeds After Debt Repayment -->
    <div class="col-md-12">
        <div class="card card-body">
            <div class="card-title">
                <h4>Weekly Report of {% now 'Y' %}</h4>
            </div>
            <div class="card-body">
                <div>
                    <canvas id="reportByWeeks" height="80px"></canvas>
                </div>

                <script>
                    var dataURL = "{% url 'analytics:report-by-weeks-chart-ajax' %}";
                    $.ajax({
                        method: 'GET',
                        url: dataURL,
                        success: function (data) {
                            var ctx = document.getElementById('reportByWeeks').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: data.labels,
                                    datasets: [{
                                        label: "Sale",
                                        data: data.totals,
                                        fill: false,
                                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                        borderColor: 'rgba(75, 192, 192, 1)',
                                        borderWidth: 2,
                                    }]
                                },
                                options: {
                                    legend: {
                                        display: false,
                                    },
                                    animation: false,
                                }
                            });
                        }
                    });
                </script>

            </div>
        </div>


    </div>


    <!-- Proceeds After Debt Repayment -->
    <div class="col-md-12">
        <div class="card card-body">
            <div class="card-title">
                <h4>Periodic Report of {% now 'Y' %}</h4>
            </div>
            <div class="card-body">
                <div>
                    <canvas id="reportByPriods" height="80px"></canvas>
                </div>

                <script>
                    var dataURL = "{% url 'analytics:report-by-periods-chart-ajax' %}";
                    $.ajax({
                        method: 'GET',
                        url: dataURL,
                        success: function (data) {
                            var ctx = document.getElementById('reportByPriods').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: data.labels,
                                    datasets: [{
                                        label: "Overall Sale",
                                        data: data.totals,
                                        fill: false,
                                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                        borderColor: 'rgba(75, 192, 192, 1)',
                                        borderWidth: 2,
                                    }]
                                },
                                options: {
                                    legend: {
                                        display: false,
                                    },
                                    animation: false,
                                }
                            });
                        }
                    });
                </script>

            </div>
        </div>


    </div>

</div>

{% endblock body %}