{% extends 'base.html' %} {% load static %}

{% block title %} Zones {% endblock title %}


{% block body %}

{% for message in messages %}
<div class="alert alert-{{message.tags}} mb-3" role="alert" style="border-radius: 50px">
    <strong>{{message}}</strong>
</div>
{% endfor %}

<div class="card-header mb-3">
    <div class="row">
        <div class="col-md-10 col-sm-12">
            <h3>Zones</h3>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-block mt-1" data-toggle="modal" data-target="#addZoneModal"><i
                    class="fa fa-plus-circle"></i>&nbsp
                Add Zone</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <!-- <div class="card-header mb-2">
                    <div class="row mt-2">
                        <div class="col-md-7"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-outline-primary btn-block"><i class="fa fa-search"></i></button>
                        </div>
                    </div>

                </div> -->

                {% if zones|length %}

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th width="80%">Name</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for i in zones %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.name | title}}</td>
                                <td class="text-center">
                                    <a role="button" class="text-primary update-button" data-id="{{i.id}}"
                                        data-name="{{i.name}}" data-toggle="modal" data-target="#updateZoneModal"><i
                                            class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i></a>

                                    <a role="button" class="text-danger delete-button" data-id="{{i.id}}"
                                        data-name="{{i.name}}" data-toggle="modal" data-target="#deleteZoneModal"><i
                                            class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% else %}

                <div class="card-header text-center">
                    <img src="{% static 'images/no_data.png' %}" alt="No data" height="350">
                </div>

                {% endif %}
            </div>
        </div>
    </div>
</div>


<!-- add zone modal -->
<div id="addZoneModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addZoneModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addZoneModalLabel">Add Zone</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder=""
                            aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Please specify the name of zone.</small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light" name="addZone">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- update zone modal -->
<div id="updateZoneModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateZoneModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="updateZoneModalLabel">Update Zone</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="zone_id__update" id="zone_id__update">

                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" name="name__update" id="name__update" class="form-control" placeholder=""
                            aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Please specify the name of zone.</small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light"
                        name="updateZone">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- delete zone modal -->
<div id="deleteZoneModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteZoneModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteZoneModalLabel">Delete Zone</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="zone_id__delete" id="zone_id__delete">
                <div class="card-body">
                    <h4>Do you want to <span class="text-danger">delete </span><span class="text-danger"
                            id="name__delete"></span></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger waves-effect waves-light"
                        name="deleteZone">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $('.update-button').click(function () {
        var id = $(this).data('id');
        var name = $(this).data('name');

        $('#zone_id__update').val(id);
        $('#name__update').val(name);
    });

    $('.delete-button').click(function () {
        var id = $(this).data('id');
        var name = $(this).data('name');

        console.log(id, name)

        $('#zone_id__delete').val(id);
        $('#name__delete').html(name);
    });
</script>

{% endblock body %}